.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

@media (max-width: 650px) {
  .container {
    grid-template-rows: auto 1fr 1fr;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

.add-team {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.leader-board {
  grid-row: 2 / auto-fit;
  grid-column: 1/5;
}
.match-making {
  grid-row: span 2;
  grid-column: span 2;
  justify-self: center;
}
